div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
}
button#button-footer {
  width: 100%;
}
body{
    margin-top: 20px;
    color: white;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
ol,li{
  text-align: start;
}
