@{
  Layout = "_Layout";
}
<h1>Add a new item to @Model.VendorName</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderName" class="form-label">Order Item</label>
  <input id="orderName" name="orderName" type="text" class="form-control">
  <button type='submit' class="btn btn-success">Add Item</button>
</form>